@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.logo{
  font-family: fantasy;
}
#menu-toggle:checked + #menu{
  display: block;
}

.navicon {
  width: 1.125em;
  height: .125em;
}

.navicon::before,
.navicon::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .2s ease-out;
  content: '';
  background: #ffff;
}

.navicon::before {
  top: 5px;
}

.navicon::after {
  top: -5px;
}

.menu-btn:not(:checked) ~ .menu {
  display: none;
}

.menu-btn:checked ~ .menu {
  display: block;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon::before,
.menu-btn:checked ~ .menu-icon .navicon::after {
  top: 0;
}

.grow-0_7{
flex-grow: 0.7;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(2%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 2s infinite;
}


@keyframes spin {
  to {
      transform: rotateY(3deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}


.overFlowtext {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}